//colors
$text-color: black; // цвет текста
$border-color-light: #dddddd; // цвет рамки у ячейки (левая, верх)
$border-color-dark: #5c5c5c; // цвет рамки у ячейки (правая, низ)
$background-color: gray; // цвет фона у ячеек у кнопок и модалок
$background-color-hover: rgb(117, 115, 115); // цвет фона у ячеек и кнопок
