@use '../../assets/scss/veriables';

.wrapper{
  display: flex;
  border: 5px solid;
  border-top-color: veriables.$border-color-dark;
  border-left-color: veriables.$border-color-dark;
  border-right-color: veriables.$border-color-light;
  border-bottom-color: veriables.$border-color-light;
  background-color: veriables.$background-color;
}

.title{
  font-family: 'digital-7', "Arial", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.TimerGame{
  font-family: 'digital-7', "Arial", sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding: 0 5px;
  color: veriables.$text-color;
}
